:root {
  --pad-size: 80vw; /* The pad is 90% of the viewport width */
  --circle-size: 2.5rem; /* Size of the circle */
  --thumb-size: 2rem; /* Size of the circle */
  --slider-height: 1rem; /* Height of the slider */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}

.trackname {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: auto;
  /* Posiziona la trackname a metà tra il top e il pad */
  position: relative;
  top: calc((100vh - var(--pad-size)) / 4); /* Sposta in basso metà dello spazio */
}

.pad-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pad {
  position: relative;
  width: var(--pad-size);
  height: var(--pad-size);
  background-color: #ddd;
  border: 2px solid #333;
}

.circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: #ff5722;
  border-radius: 50%;
  cursor: grab;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-container {
  width: var(--pad-size);
  margin-top: auto;
  /* Posiziona lo slider a metà tra il pad e il bottom */
  position: relative;
  bottom: calc((100vh - var(--pad-size)) / 4); /* Sposta in alto metà dello spazio */
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: var(--slider-height); /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  border-radius: 50%;
  width: var(--thumb-size); /* Set a specific slider handle width */
  height: var(--thumb-size); /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  background-color: aquamarine;
}

.slider::-moz-range-thumb {
  border-radius: 50%;
  width: var(--thumb-size); /* Set a specific slider handle width */
  height: var(--thumb-size); /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  background-color: aquamarine;
}